<template>
  <div class="home">
    <!-- <img class="bgDashboard" src="../../assets/bg-desk.png" alt="Imagem de fundo"> -->

    <div class="container-home">
      <div class="content">
        <header-topo></header-topo>

        <input-leads />
        <users-leads />
        <semestre-leads />
        <p class="data-day">Ultima Atualização Hoje ás 08:30</p>
      </div>
    </div>
  </div>
</template>

<script>
import Header from '@components/shared/header/Header.vue';
import InputLeads from '@components/shared/leads/InputLeads.vue';
import UsersLeads from '@components/shared/leads/UsersLeads.vue';
import SemestreLeads from '@components/shared/leads/SemestreLeads.vue';

export default {
  name: 'Home',

  components: {
    'header-topo': Header,
    'input-leads': InputLeads,
    'users-leads': UsersLeads,
    'semestre-leads': SemestreLeads
  },

  data() {
    return {};
  },

  computed: {}
};
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  display: flex;

  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    object-fit: cover;
  }
  .container-home {
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
      width: 95%;
      padding-top: 50px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .data-day {
        color: #0f1b55;
        width: 100%;
        display: flex;
        font-size: 20px;
        justify-content: flex-end;
        padding: 15px 5px;
      }
      .shadow-box {
        box-shadow: 0px 5px 20px #0000001a;
      }
    }
  }
}
@media screen and (max-width: 1366px) {
  .home {
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
</style>
