<template>
  <router-view />
</template>

<script>
export default {
  name: 'App',

  components: {},

  data() {
    return {
      routes
    };
  }
};
</script>

<style lang="scss" scoped>
@import './scss/variables';
// .corpo {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   @media screen and(min-height: 660px) {
//     height: 100%;
//   }
//   @media screen and(min-height: 940px) {
//   }
// }
</style>
