<template>
  <div>
    <div class="container-form">
      <form class="content-form" @submit.prevent="grava()">
        <div class="date">
          <h2>Mês</h2>
          <div class="filds">
            <input
              type="text"
              @input="mes.nome = $event.target.value"
              id="mesReferete"
              placeholder="Leads Iniciados"
            />
            <label for="referenceMoth">Mês Referente</label>
          </div>
        </div>
        <div class="marketing">
          <h2>Marketing</h2>
          <div class="filds">
            <input type="text" id="firstName" v-model="leads" placeholder="Total de Leads" />
            <label for="TotalLead s">Total de Leads</label>
          </div>
          <div class="filds">
            <input type="text" id="LeadsQualify" placeholder="Leads Qualificados" />
            <label for="LeadsQualificados">Leads Qualificados</label>
          </div>
          <div class="filds">
            <input type="text" id="LeadsEsperados" placeholder="Leads Esperados" />
            <label for="LeadsQualificados">Leads Esperados</label>
          </div>
        </div>
        <div class="sales">
          <h2>Vendas</h2>
          <div class="filds">
            <input type="text" id="iniciados" placeholder="Leads Iniciados" />
            <label for="TotalLeads">Leads Iniciados</label>
          </div>
          <div class="filds">
            <input type="text" id="fechados" placeholder="Leads Fechados" />
            <label for="LeadsQualificados">Leads Fechados</label>
          </div>
          <div class="filds">
            <input type="text" id="percentual" placeholder="Percentual" />
            <label for="LeadsQualificados">Percentual</label>
          </div>
        </div>
        <div class="semester">
          <h2>Semestre</h2>
          <div class="month">
            <div class="filds">
              <input type="text" placeholder="recebidos" />
              <label for="TotalLeads">Mês</label>
            </div>
            <div class="filds">
              <input type="text" id placeholder="recebidos" />
              <label for="TotalLeads">Recebidos</label>
            </div>
            <div class="filds">
              <input type="text" placeholder="recebidos" />
              <label for="TotalLeads">Fechados</label>
            </div>
          </div>
          <div class="month">
            <div class="filds">
              <input type="text" placeholder="recebidos" />
              <label for="TotalLeads">Mês</label>
            </div>
            <div class="filds">
              <input type="text" id placeholder="recebidos" />
              <label for="TotalLeads">Recebidos</label>
            </div>
            <div class="filds">
              <input type="text" placeholder="recebidos" />
              <label for="TotalLeads">Fechados</label>
            </div>
          </div>
          <div class="month">
            <div class="filds">
              <input type="text" placeholder="recebidos" />
              <label for="TotalLeads">Mês</label>
            </div>
            <div class="filds">
              <input type="text" id placeholder="recebidos" />
              <label for="TotalLeads">Recebidos</label>
            </div>
            <div class="filds">
              <input type="text" placeholder="recebidos" />
              <label for="TotalLeads">Fechados</label>
            </div>
          </div>
          <div class="month">
            <div class="filds">
              <input type="text" placeholder="recebidos" />
              <label for="TotalLeads">Mês</label>
            </div>
            <div class="filds">
              <input type="text" id placeholder="recebidos" />
              <label for="TotalLeads">Recebidos</label>
            </div>
            <div class="filds">
              <input type="text" placeholder="recebidos" />
              <label for="TotalLeads">Fechados</label>
            </div>
          </div>
          <div class="month">
            <div class="filds">
              <input type="text" placeholder="recebidos" />
              <label for="TotalLeads">Mês</label>
            </div>
            <div class="filds">
              <input type="text" id placeholder="recebidos" />
              <label for="TotalLeads">Recebidos</label>
            </div>
            <div class="filds">
              <input type="text" placeholder="recebidos" />
              <label for="TotalLeads">Fechados</label>
            </div>
          </div>
          <div class="month">
            <div class="filds">
              <input type="text" placeholder="recebidos" />
              <label for="TotalLeads">Mês</label>
            </div>
            <div class="filds">
              <input type="text" id placeholder="recebidos" />
              <label for="TotalLeads">Recebidos</label>
            </div>
            <div class="filds">
              <input type="text" placeholder="recebidos" />
              <label for="TotalLeads">Fechados</label>
            </div>
          </div>
        </div>
        <button type="submit">Atualizar</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      mes: {
        nome: '',
        sellers
      }
    };
  },

  methods: {
    grava() {
      console.log(this.mes.nome);
      this.mes = {};
    }
  }
};
</script>

<style lang="scss" scoped>
.container-form {
  height: 100%;
  display: flex;
  justify-content: center;
  .content-form {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .date {
      width: 100%;
      border: solid 1px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      margin: 10px 0;
      h2 {
        text-align: center;
        padding: 20px 0;
        width: 100%;
        font-size: 30px;
        color: #0f1b55;
        font-weight: 600;
      }
    }
    .marketing {
      width: 22%;
      border: solid 1px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      margin: 10px 0;
      h2 {
        text-align: center;
        padding: 20px 0;
        width: 100%;
        font-size: 30px;
        color: #0f1b55;
        font-weight: 600;
      }
    }
    .sales {
      width: 22%;
      border: solid 1px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      margin: 10px 0;
      h2 {
        text-align: center;
        padding: 20px 0;
        width: 100%;
        font-size: 30px;
        color: #0f1b55;
        font-weight: 600;
      }
    }
    .semester {
      width: 50%;
      border: solid 1px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      margin: 10px 0;
      h2 {
        text-align: center;
        padding: 20px 0;
        width: 100%;
        font-size: 30px;
        color: #0f1b55;
        font-weight: 600;
      }
      .month {
        display: flex;
        flex-direction: column;
        padding: 25px 0;
        .name-month {
          font-size: 20px;
        }
        .filds {
          width: 80px;
        }
      }
    }
    .filds {
      width: 150px;
      height: auto;
      display: inline-block;
      position: relative;
      margin-bottom: 20px;
      padding: 0 10px;
      input {
        width: 100%;
        height: 46px;
        font-size: 25px;
        border: 0px;
        border-bottom: 1px solid #9e9e9e;
        transition: border-bottom, box-shadow 0.25s ease-in-out;
      }
      label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 10px;
        pointer-events: none;
        cursor: text;
        color: #9e9e9e;
        transform: translateY(18px);
        transition: transform 0.25s ease-in-out;
        transform-origin: 0% 100%;
      }
    }
    input:focus {
      border-bottom: 1px solid #26a96a;
      box-shadow: 0 1px 0 0 #26a96a;
      outline: 1px solid transparent;
    }
    input:focus + label {
      transform: translateY(-14px) scale(0.8);
    }
    input::-webkit-input-placeholder,
    input::-moz-input-placeholder {
      color: transparent;
    }
    input::placeholder {
      color: transparent;
    }
    input:not(:placeholder-shown) {
      border-bottom: 1px solid #9e9e9e;
    }
    input:not(:placeholder-shown) + label {
      transform: translateY(-14px) scale(0.8);
    }
  }
}
</style>