<template>
  <div class="input-leads shadow-box">
    <div class="content-input">
      <h2 class="title">Marketing</h2>

      <div class="leads-marketing">
        <div class="total-leads values">
          <p>Total de Leads</p>
          <span>{{ total }}</span>
        </div>
        <div class="qualificados values">
          <p>Leads Qualificados</p>
          <span>{{ qualified }}</span>
        </div>
        <div class="esperados values">
          <p>Esperados até Hoje</p>
          <span>{{ estimated }}</span>
        </div>
      </div>
      <div class="meta">
        <h2>Informativo de Desempenho</h2>

        <div class="gauge">
          <div class="infos-gauge">
            <span>{{ qualified }}</span>
            <p>Leads Qualificados</p>
            <!-- <p>Leads Conquistados</p> -->
          </div>
          <VueSvgGauge
            class="customizable-gauge"
            :start-angle="-90"
            :end-angle="90"
            :value="parseInt(qualified)"
            :min="0"
            :max="parseInt(75)"
            :scale-interval="0"
            :inner-radius="90"
            :separator-thickness="0"
            :gauge-color="gaugeColor"
            base-color="#d0cdcd"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import leadsData from '@data/leads.json';
import { VueSvgGauge } from 'vue-svg-gauge';
import InputsCreate from '@components/cadastro/Cadastro.vue';
import moment from 'moment';

const {
  leads: { meta, qualified, total, startDate, estimated },
  sellers
} = leadsData;

export default {
  data() {
    return {
      meta,
      qualified,
      total,
      estimated,
      sellers,
      gaugeColor: '',
      startDate,
      InputsCreate: '',
      lessons: []
    };
  },
  components: {
    VueSvgGauge
  },
  mounted() {
    const getMetaDays = this.getMetaDays(this.qualified, this.meta);
    const getCurrentMeta = this.getCurrentMeta(
      this.qualified,
      this.getDiffDays(this.startDate)
    );
    const qualifiedLeadCalc = this.qualifiedLeadCalc(this.meta, this.qualified);

    if (qualifiedLeadCalc < 70) {
      this.gaugeColor = '#d6060b';
    } else if (qualifiedLeadCalc < 100) {
      this.gaugeColor = '#ffc500';
    } else {
      this.gaugeColor = '#00ce84';
    }
  },

  methods: {
    getCurrentMeta: (qualified, metaDays) => (qualified / metaDays).toFixed(2),

    getMetaDays: (qualified, meta) => (meta / 30).toFixed(2),

    getDiffDays: startDate => moment().diff(startDate, 'days'),

    qualifiedLeadCalc: (meta, qualified) =>
      ((qualified / meta) * 100).toFixed(0),

    initialize() {
      this.resource.get({}).then(response => {
        this.lessons = response.data;
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../../../scss/variables';
@import '../../../scss/_fonts';

.input-leads {
  font-family: 'montserrat';
  width: 30%;
  color: $blue-dark;
  background: $white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  .content-input {
    width: 80%;
    margin: auto;
    .title {
      font-size: 28px;
      font-weight: 600;
      padding-bottom: 10px;
      height: 28px;
      border-bottom: solid 2px #0000001a;
    }
    .leads-marketing {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 15px 0;
      font-size: 24px;
      .values {
        margin: 10px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        p {
          position: relative;
          padding-left: 20px;
          &::before {
            content: '';
            height: 8px;
            width: 8px;
            position: absolute;
            top: 5px;
            left: 0;
            background: $blue-dark;
            border-radius: 50%;
          }
        }
        span {
          font-weight: bold;
        }
      }
    }
    .meta {
      padding-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h2 {
        font-size: 26px;
        font-weight: bold;
      }
      .gauge {
        margin: 10px 0;
        width: 300px;
        position: relative;
        display: flex;
        justify-content: center;
        .infos-gauge {
          position: absolute;
          text-align: center;
          font-size: 22px;
          bottom: 0;
          span {
            font-size: 45px;
            font-weight: 600;
          }
          p {
            margin-top: 20px;
          }
        }
      }
      .customizable-gauge {
        &::before {
          content: '0';
          position: absolute;
          left: -12px;
          bottom: 7px;
        }
        &::after {
          content: '75';
          position: absolute;
          right: -22px;
          bottom: 7px;
        }
      }
    }
  }

  @media screen and(max-width: 1366px) {
    .content-input {
      margin: 20px 0;
      .title {
        font-size: 20px;
      }
      .leads-marketing {
        font-size: 18px;
      }
      .meta {
        padding-top: 10px;
        .valor-meta {
          font-size: 50px;
        }
        h2 {
          font-size: 20px;
        }
        .gauge {
          width: 260px;
          .infos-gauge {
            span {
              font-size: 40px;
              font-weight: 600;
            }
            p {
              margin-top: 16px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
</style>
