<template>
  <div class="semestre-leads shadow-box">
    <div class="container-semestre">
      <div class="sub-title">
        <h2>Semestre</h2>

        <div class="recebidos">
          <div></div>
          <p>Recebidos</p>
        </div>
        <div class="convertidos">
          <div></div>
          <p>Fechados</p>
        </div>
      </div>
      <div class="container">
        <div class="chart-item" v-for="(semester, index) in semesters" v-bind:key="index">
          <div class="chart-bar-container">
            <span class="number">{{ semester.total }}</span>
            <span class="bar" :style="{height: limitsHeight(semester.total) + '%'}"></span>
          </div>
          <div class="chart-bar-container">
            <span class="number">{{ semester.converted }}</span>
            <span class="bar" :style="{height: limitsHeight(semester.converted) + '%'}"></span>
          </div>
          <span class="month">{{ semester.shortName }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import leadsData from '@data/leads.json';
const {
  leads: { total },
  semesters
} = leadsData;

export default {
  data() {
    return {
      semesters
    };
  },

  methods: {
    limitsHeight: height => {
      return height > 100 ? 100 : height;
    }
  }
};
</script>

<style lang="scss" scoped="scoped">
@import '../../../scss/variables';
@import '../../../scss/_fonts';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,900&display=swap');

.semestre-leads {
  font-family: 'montserrat';
  width: 100%;
  background: $white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  .container-semestre {
    width: 95%;
    display: flex;
    .sub-title {
      display: flex;
      flex-wrap: wrap;
      margin: 30px;
      width: 14%;
      h2 {
        font-size: 23px;
        font-weight: 600;
        margin-bottom: 15px;
        color: $blue-dark;
      }
      p {
        font-size: 18px;
        color: $blue-dark;
      }
      .recebidos {
        position: relative;
        display: flex;
        padding: 15px 0;
        width: 100%;
        div {
          width: 35px;
          height: 25px;
          margin-right: 15px;
          background: $blue-bars;
        }
      }
      .convertidos {
        position: relative;
        display: flex;
        align-items: center;
        padding: 15px 0;
        width: 100%;

        div {
          width: 35px;
          height: 25px;
          margin-right: 15px;
          background: $green-bars;
        }
      }
    }
    .container {
      height: auto;
      display: flex;
      align-items: flex-end;
      width: 100%;
      justify-content: space-around;
      .chart-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 2rem;
        text-align: center;
        height: auto;
        align-items: flex-end;
        .chart-bar-container {
          width: calc(100% / 2 - 0.5rem);
          display: flex;
          flex-direction: column;
          height: calc(260px - 3rem);
          justify-content: flex-end;
          padding-top: 2rem;
          .number {
            margin-bottom: 3px;
          }
          .bar {
            width: 100%;
            display: block;
            background-color: $green-bars;
            height: 30%;
            align-self: flex-end;
            min-height: 2px;
          }
        }
        .chart-bar-container:first-child .bar {
          background-color: $blue-bars;
        }
      }
      .month {
        width: 100%;
        display: block;
        font-weight: bold;
        text-align: center;
        color: $blue-dark;
        padding: 10px;
      }
    }
  }
  @media screen and(max-width: 1366px) {
    margin-top: 15px;
    .container-semestre {
      .container {
        .chart-item {
          .chart-bar-container {
            height: calc(220px - 3rem);
          }
        }
      }
    }
  }
}
</style>