<template>
  <div class="usersLeads shadow-box">
    <div class="content-users">
      <h2 class="title">Vendas</h2>
      <table class="users-table">
        <tr class="titles">
          <th class="destaque">GC's</th>
          <th>Iniciados</th>
          <th>Fechados</th>
          <th>Percentual</th>
        </tr>
        <tr class="dados" v-for="(seller, index) in sellers" v-bind:key="index">
          <td class="avatar" data-th="user">
            <img :src="seller.avatar" alt />
            <span>{{ seller.name }}</span>
          </td>
          <td data-th="recebido">{{ seller.started || 0 }}</td>
          <td class="fundo-destaque" data-th="convertido">{{ seller.closed || 0 }}</td>
          <td class="donut" data-th="meta">{{ seller.percent || 0 }}%</td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import { VueSvgGauge } from 'vue-svg-gauge';
import leadsData from '@data/leads.json';

const {
  leads: { meta, qualified, total, week },
  sellers
} = leadsData;

export default {
  data() {
    return {
      baseColor: '$grey',
      sellers,
      total,
      week
    };
  },

  mounted() {
    this.sellers.map(seller => {
      seller.received = this.total / 2;
      seller.totalMeta = this.calculateTotalMeta(seller.received);
    });
  },

  components: {
    VueSvgGauge
  },

  methods: {
    calculateTotalMeta: received => Math.round(received * 0.35)
  }
};
</script>

<style lang="scss" scoped>
@import '../../../scss/variables';
@import '../../../scss/_fonts';

.usersLeads {
  font-family: 'montserrat';
  width: 68%;
  background: $white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $blue-dark;
  font-size: 25px;
  .content-users {
    width: 90%;
    margin: 23px 0;
    .title {
      font-weight: 600;
      font-size: 28px;
      border-bottom: solid 2px #0000001a;
      padding-bottom: 10px;
    }
    .users-table {
      width: 100%;
      .titles {
        .destaque {
          font-weight: 600;
        }
      }
      tr {
        text-align: center;
      }
      td,
      th {
        padding: 15px 0;
      }
      td {
        vertical-align: middle;
      }
      .dados {
        font-size: 40px;
        .fundo-destaque {
          position: relative;
          z-index: 1;
        }
        .donut {
          span {
            font-size: 17px;
          }
          .pie-donut {
            position: relative;
            height: 100px;
            width: 100px;

            .mini-gauge {
              .inner-text {
                width: 100%;
                height: 100%;
                span {
                  transform: translate(-50%, -50%);
                  top: 50%;
                  left: 50%;
                  position: absolute;
                  z-index: 3;
                  text-align: center;
                  font-size: 3ch;
                  text-transform: uppercase;
                  font-weight: 500;
                  color: $blue-dark;
                }
              }
            }
          }
        }
      }
      .avatar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 25px;
        img {
          width: 120px;
        }
        span {
          margin-top: 10px;
          width: 100%;
        }
      }
    }
  }
  @media screen and(max-width: 1366px) {
    font-size: 20px;
    .content-users {
      margin: 20px 0;
      .users-table {
        td,
        th {
          padding: 10px 0;
        }
        .dados {
          font-size: 30px;
          .avatar {
            img {
              width: 90px;
            }
          }
          .donut {
            .pie-donut {
              span {
                font-size: 30px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}
</style>
