<template>
  <div class="header-logos shadow-box">
    <div class="container-header">
      <h1 v-for="mes in meses">Dashboard Leads - {{meses.name}}</h1>
      <img src="../../../assets/logo2.svg" alt="Logo ConferênciaCorp" />
    </div>
  </div>
</template>

<script>
import leadsData from '@data/leads.json';

const {
  leads: { name },
  meses
} = leadsData;

export default {
  data() {
    return {
      meses
    };
  }
};
</script>

<style lang="scss" scoped>
@import '../../../scss/variables';
@import '../../../scss/_fonts';

.header-logos {
  width: 100%;
  height: 100px;
  border-radius: 15px;
  top: 0;
  left: 0;
  justify-content: center;
  background: $white;
  display: flex;
  margin-bottom: 30px;

  .container-header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      color: $red-default;
      font-family: 'montserrat';
      font-size: 43px;
      font-weight: 600;
    }
    img {
      height: 70px;
    }
  }
  @media screen and (max-width: 1366px) {
    height: 60px;
    margin-bottom: 15px;
    .container-header {
      h1 {
        font-size: 28px;
      }
      img {
        height: 45px;
      }
    }
  }
}
</style>